.footer_wrapper {
    padding: 50px 20px;
}

.footer_title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
}

.contact_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contact_info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
    margin-bottom: 40px;
}

.contact_item {
    display: flex;
    column-gap: 20px;
    text-decoration: none;
}

.social {
    display: flex;
    column-gap: 20px;
}

.social_item {
    color: var(--black);
    transition: all 0.3s ease;

    &:hover {
        color: var(--light-purple);
        transform: scale(110%);
    }
}

.item_title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
    text-decoration: none;
    color: var(--black);
}

.item_text {
    font-size: 16px;
    color: var(--gray);
}

.map {
    width: 100%;
    height: 300px;
    border: 1px solid var(--light-purple);
    border-radius: 12px;
}

.footer_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 0 0;
}

.copy_text {
    font-size: 14px;
    font-weight: 500;
    color: var(--gray);
    margin-top: 20px;
}

@media screen and (min-width: 640px){
    .footer_bottom {
        flex-direction: row;
    }

    .copy_text {
        font-size: 16px;
        margin-top: 0;
    }
}

@media screen and (min-width: 1024px) {
    .contact_wrapper {
        flex-direction: row;
    }

    .contact_info {
        flex-direction: column;
    }
}