.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_list {
    display: none;
    list-style-type: none;
    column-gap: 60px;

    & .mav_link {
        color: #FFFFFF;
        text-decoration: none;

    }
}

.header_button {
    padding: 12px 24px;
    border-radius: 100px;
    cursor: pointer;
    border: 1px solid;
    transition: all 0.5s ease;
    font-weight: 700;
    font-size: 16px;
    color: var(--light-purple);

    &:hover {
        border: 1px solid var(--white);
        background-color: var(--light-purple);
        color: var(--white);
    }
}

.actions {
    display: none;
    align-items: center;
    column-gap: 20px;
}

.menu_icon {
    display: block;
    cursor: pointer;
}

.select {
    color: var(--light-purple);
    background: var(--white);
    padding: 5px 15px;
    border: 1px solid var(--white);
    border-radius: 12px;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

@media screen and (min-width: 640px) {
    .actions {
        display: flex;
    }

    .menu_icon {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .nav_list {
        display: flex;
    }
}